openapi: 3.2.0
info:
  title: FreshBooks REST Projects API
  version: '2026-05-23'
  description: 'Best-effort OpenAPI 3.1 description of the FreshBooks accounting REST API.

    Scoped per account via /accounting/account/{accountId}/* paths.

    Generated from public documentation; not an official spec.'
  contact:
    name: FreshBooks Developer Portal
    url: https://www.freshbooks.com/api/start
servers:
- url: https://api.freshbooks.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Projects
paths:
  /projects/business/{businessId}/projects:
    parameters:
    - in: path
      name: businessId
      required: true
      schema:
        type: string
    get:
      tags:
      - Projects
      operationId: listProjects
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: List projects
      x-summary-source: derived
    post:
      tags:
      - Projects
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Create project
      x-summary-source: derived
components:
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  schemas:
    Object:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via the FreshBooks authorization code flow.
